.navbar {
    overflow: hidden;
    background-color: rgb(255, 205, 40);
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    height: 100%;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(1, 30, 83);
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(1, 30, 83, 0.8);
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bnt-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }